$color-primary-light: #7ed56f;
$color-primary-medum: #55c57a;
$color-primary-dark: #28b485;

$color-gray: #777;
$color-white: #fff;
$color-black: #333;
$color-gray-white: #f7f7f7;
$color-black-dark: #000;
$color-gray-white-2: #e7e6e6;



$color-orang-light: #ffb900;
$color-orang-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$grid-width: 114rem;
$grid-width-small: 55rem;
$gutter-virtical: 8rem;
$gutter-virtical-small: 4rem;
$gutter-horzntal: 6rem;