$color-primary-light: #7ed56f;
$color-primary-medum: #55c57a;
$color-primary-dark: #28b485;

$color-gray: #777;
$color-white: #ffffff;
$color-black: #333;
$color-gray-white: #e6e6e6;
$color-black-dark: #000;


$color-orang-light: #ffb900;
$color-orang-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$grid-width: 114rem;
$grid-width-small: 45rem;
$gutter-virtical: 8rem;
$gutter-virtical-small: 4rem;
$gutter-horzntal: 6rem;